NEXT_PUBLIC_SERVER_URL=

DATABASE_URL=

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/auth-callback
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/auth-callback
CLERK_WEBHOOK_SECRET=

GOOGLE_MAPS_API_KEY=

OPENAI_API_KEY=

UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=

SEED_ADMIN_USER_NAME=
SEED_ADMIN_USER_EMAIL=
SEED_ADMIN_USER_IMAGE=